:root {
  font-family: "Cedarville Cursive", cursive;
  font-family: "Mogra", cursive;
  font-family: "Roboto", sans-serif;
  --lightText: white;
  --buttonColorHover: #8fcaff;
  color: var(--darkText);
}
body {
  margin: 0;
  background-image: url("https://images.unsplash.com/photo-1466927593098-4d4aa7a2b2d8?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80");
  background-size: cover;
  background-position: center;
  /* overflow: hidden;*/
}
h1 {
  margin: 0;
  width: 100%;
  background: rgba(83, 83, 83, 0.473);
  padding: 1%;
  text-align: center;
}
