:root {
  font-family: "Cedarville Cursive", cursive;
  font-family: "Mogra", cursive;
  font-family: "Roboto", sans-serif;
  --lightText: white;
  --buttonColorHover: #8fcaff;
  color: var(--darkText);
}
body {
  margin: 0;
  background-image: url("https://images.unsplash.com/photo-1466927593098-4d4aa7a2b2d8?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80");
  background-size: cover;
  background-position: center;
  overflow: hidden;
}
h1 {
  margin: 0;
  width: 100%;
  background: rgba(83, 83, 83, 0.473);
  padding: 1%;
  text-align: center;
}
h2 {
  text-align: center;
}
h4 {
  text-align: center;
  margin-right: 40px;
}
main {
  float: left;
  width: 75%;
  height: 100vh;
}
/* weather section*/
#weatherForecast {
  width: 100%;
}
#todaysWeather {
  width: 100%;
  padding: 15px;
  text-align: center;
  position: relative;
  right: 35px;
}
.weatherEmoji {
  padding-left: 10px;
}
aside {
  float: left;
  width: 20%;
  height: 100vh;
  padding: 10px;
}

aside h3 {
  margin: 0 auto;
  margin-bottom: 5px;
}

/* day settings*/
#dateContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.dateBox {
  background: rgba(41, 97, 143, 0.616);
  width: 150px;
  height: 175px;
  border-radius: 5px;
  padding-left: 10px;
  color: var(--lightText);
  margin-right: 30px;
}
/*search settings*/
#searchBar {
  width: 200px;
  height: 30px;
  border: rgba(255, 255, 255, 0.288) 1px solid;
  border-radius: 5px;
  margin-bottom: 15px;
}

#searchBar:focus {
  outline: none;
  border: var(--buttonColorHover) 1px solid;
}

#searchButton {
  background: rgba(53, 84, 109, 0);
  border-radius: 9px;
  border-width: 1.5px;
  text-align: center;
  line-height: 30px;
  margin-bottom: 15px;
}

#searchButton:hover {
  cursor: pointer;
  border: var(--buttonColorHover) 2.5px solid;
}

#searchButton:focus {
  outline: none;
}
.searchedCities {
  background: rgba(255, 255, 255, 0.555);
  height: auto;

  border-radius: 5px;
  width: 100%;
  margin-bottom: 15px;
}

.searchedCity {
  height: 50px;
  padding-left: 25px;
  line-height: 50px;
}
#city8 {
  border-bottom: none;
}
/* hover*/
.hoverPointer {
  cursor: pointer;
}
/* current icon*/
#currentIcon {
  position: absolute;
  top: 25px;
}
/* current uvindex*/
#currentUVIndex {
  padding: 5px 10px;
  border-radius: 5px;
  color: var(--lightText);
}
/* media*/
@media screen and (max-width: 768px) {
  h1 {
    padding: 2%;
    font-size: 18px;
  }
  #searchedCities {
    padding: 10px;
  }
}
